<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<h2>글 작성 페이지</h2>

<form class="form-control" action="/board/save"  method="post" >
    <input type="text" name="boardWriter" placeholder="글 작성자" > <br>
    <input type="text" name="boardTitle" placeholder="글제목"> <br>
    <input type="text" name="boardPass" placeholder="비밀번호"> <br>
    <textarea placeholder="글 내용" name="boardContents" cols="50" rows="10"></textarea> <br>
    <input type="submit" value="글 작성">
</form>

</body>
</html>