<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
  <!-- 화면에 보여질 내용이 들어갈 부분 -->
  <div class="container" id="paging-list">
    <table class="table table-hover">
      <!--<thead>와 <tbody>는 순수한 HTML 요소이다.
      이들은 HTML 표준에서 테이블의 구조를 명확하게 구분하고,
      테이블의 가독성과 접근성을 향상시키기 위해 도입되었다.-->
      <thead>
      <tr>
        <!--scope와 col을 사용해서 해당 헤더가
        어떤 데이터 범위를 나타내는지 나타낸다.
        즉, 가독성을 높이기 위해 사용한다. -->
        <th scope="col">id</th>
        <th scope="col">writer</th>
        <th scope="col">title</th>
        <th scope="col">date</th>
        <th scope="col">hits</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="board: ${boardList}">
        <td th:text="${board.id}"></td>
        <td th:text="${board.boardWriter}"></td>
        <td><a th:href="@{|/board/${board.id}|(page=${page}, type=${type}, q=${q})}" th:text="${board.boardTitle}">제목</a></td>
        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.boardHits}"></td>
      </tr>
      </tbody>
    </table>

    <div class="container">
      <ul class="pagination justify-content-center">
        <li class="page-item">
          <!--첫페이지 요청 링크 /board?page=1 -->
          <!--다음은 타임리프에서 쿼리스트링 방법을 사용한 형식이다.-->
          <a class="page-link" th:href="@{/board(page=1, type=${type}, q=${q})}">
            <span>First</span>
          </a>
        </li>

        <li th:class="${boardList.first} ? 'disabled'" class="page-item">
          <!--boardList.first: isFirst()
              boardList.number: getNumber()-->
          <!--현재 페이지가 첫페이지라면 링크값을 #으로 아니면 /board?page=number 로 -->
          <!--'#'을 써서 백엔드의 특정 값일 경우에는 링크가 작동하지 않도록 한다.-->
          <a class="page-link" th:href="${boardList.first} ? '#' : @{/board(page=${boardList.number}, type=${type}, q=${q})}">
            <!-- 사용자 3페이지, jpa에는 사용자 요청 페이지 -1 을 넘겨줘야함. number 2 /board?page=2 -->
            <span><</span> <!-- < -->
          </a>
        </li>

        <!-- startPage ~ endPage 까지 숫자를 만들어주는 역할
            for(int page=startPage; page<=endPage; page++) -->
        <li th:each="page: ${#numbers.sequence(startPage, endPage)}"
            th:class="${page == boardList.number + 1} ? 'page-item active'" class="page-item">
          <a class="page-link" th:text="${page}" th:href="@{/board(page=${page}, type=${type}, q=${q})}"></a>
        </li>

        <!-- 다음 페이지 요청
            현재 3페이지를 보고 있다면 다음 페이지는 4페이지임.
            getNumber() 값은 2임.
            따라서 4페이지를 보고 싶다면 getNumber()+2를 해야 컨트롤러에 4를 요청할 수 있음. -->
        <li th:class="${boardList.last} ? 'disabled'">
          <a class="page-link" th:href="${boardList.last} ? '#' : @{/board(page=${boardList.number + 2}, type=${type}, q=${q})}">
            <!-- 사용자 3페이지, number 2 /board?page=4 -->
            <span>&gt;</span>
          </a>
        </li>

        <li class="page-item">
          <a class="page-link" th:href="@{/board(page=${boardList.totalPages}, type=${type}, q=${q})}">
            <span>Last</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
</html>